<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navBar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/logo1.png">

    <title>Agenda | INF22A</title>
</head>
<body>
    <div class="navBar">
        <div class="menu" style="z-index: 5;" onclick="anim(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <img src="/img/logo2.png" width="110px" height="110px">
        
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/agenda">Agenda</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>

    <div class="lat">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/agenda">Agenda</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>

    {{{body}}}

    <br><center><footer style="color:gray;font-size:13px;">&copyiLion's Company</footer></center>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>