<br><br><br>

<style>
    .login {
        height: 300px;
    }

    @media screen and (max-width: 768px) {
        .message-success {
            margin-top: 20px;
        }

        .container {
            margin-bottom: -110px;
        }

        {{#if message}}
            .login {
                height: 500px;
                width: 80%;
                margin-bottom: 200px;
            }
            
            .container {
                margin-bottom: -190px;
            }
        {{else}}
            .login {
                height: 500px;
                width: 80%;
                margin-bottom: 75px;
            }
        {{/if}}
    }
</style>

{{#if message}}
    <div class="message-success" style="background-color: rgb(217,84,79);">
        {{message}}
    </div>
{{/if}}

{{#if successuser}}
    <div class="message-success" style="background-color: rgb(93,184,89);">
        {{successuser}}
    </div>
{{/if}}

<div class="container">
    <form class="login" method="post">
        <h1>Login</h1><hr style="width: 100%;"><br><br>
        <label for="email">E-mail</label><br>
            <input placeholder="Digite seu e-mail" type="email" name="email" required><br>
        <label for="senha">Senha</label><br>
            <input placeholder="Digite sua senha" type="password" name="senha" required><br>

        <input type="submit" value="Entrar">
    </form>
</div>