<br><br><br>

<style>
    @media screen and (max-width: 768px) {
        .login {
            margin-top: -50px;
            width: 80%;
        }

        .container {
            margin-bottom: -150px;
        }
    }

    .login {
        height: 600px;
    }
    .login input[type=submit] {
        height: 50px;
    }

    @media screen and (min-width: 768px) {
        .message-success {
            margin-top: 0;
        }
        
        .login {
            margin-top: -2.5px;
        }

        .container {
            margin-bottom: -65px;
        }
    }
</style>

{{#if message}}
    <div class="message-success" style="background-color: rgb(239,173,77);">
        {{message}}
    </div>

    <style>
         @media screen and (max-width: 768px) {
            .message-success {
                margin-top: 25px;
            }

            .login {
                margin-top: -105px;
            }

            .container {
                margin-bottom: -125px;
            }
         }
    </style>
{{/if}}

{{#if error}}
    <div class="message-success" style="background-color: rgb(217,84,79);">
        {{error}}
    </div>

    <style>
         @media screen and (max-width: 768px) {
            .message-success {
                margin-top: 25px;
            }

            .login {
                margin-top: -105px;
            }

            .container {
                margin-bottom: -125px;
            }
         }
    </style>
{{/if}}

{{#if already}}
    <div class="message-success" style="background-color: rgb(239,173,77);">
        {{already}}
    </div>

    <style>
         @media screen and (max-width: 768px) {
            .message-success {
                margin-top: 25px;
            }

            .login {
                margin-top: -105px;
            }

            .container {
                margin-bottom: -125px;
            }
         }
    </style>
{{/if}}

<br><br>
<div class="container">
    <form class="login" method="post">
        <h1>Registrar</h1><hr style="width: 100%;"><br>
        <label for="email">Usuário</label><br>
            <input placeholder="Digite seu usuário" type="text" name="usuario" required><br><br>
        <label for="email">E-mail</label><br>
            <input placeholder="Digite seu e-mail" type="email" name="email" required><br><br>
        <label for="senha">Senha</label><br>
            <input placeholder="Digite sua senha" type="password" name="senha" required><br><br>
        <label for="senha">Confirme sua senha</label><br>
            <input placeholder="Confirme sua senha" type="password" name="csenha" required><br><br>

        <input type="submit" value="Entrar">
    </form>
</div>